body{
    text-align: center;
    background-color: rgb(53, 252, 175);
    color: rgb(3, 108, 122);
    font-family: 'Times New Roman', Times, serif;
    margin: 100px;
}
form{
    padding: 15px;
    margin: 5px;
}
input,button{
    border: 3px solid grey;
    border-radius: 5px;
    padding: 5px;
    margin:5px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(3, 108, 122);
    font-weight:bold;
}
label{
    font-size: 25px;
    font-weight: bold;
}
input:hover{
    box-shadow: 6px 6px 4px grey;
}
button:hover{
    box-shadow: 6px 6px 4px grey;
    background-color:rgb(3, 108, 122);
    color: white;
    transform: scale(1.3);
}
#output{
    background-color: grey;
    color:rgb(235, 242, 243);
    padding:5px;
    margin: 10px;
}